*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* navbar creation*/
.nav-container{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container h1{
    max-width: 219px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.options{
    display: flex;
    gap: 2rem;
    max-width: 16rem;
}
#tech{
    color: #FFFFFF;
}

#wave{
  background: linear-gradient(
  to top right,
  rgba(247, 233, 63, 1),
  rgba(251, 9, 180, 1),
  rgba(145, 0, 248, 1));
  background-clip: text;
  color: transparent;
}
.options .op-1 a{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}
.options .op-2 a{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}
.options .op-3 a{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: linear-gradient(
    to top right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    border: none;
    padding: 12.5px 16px;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight:600;
    color: white;
    cursor: pointer;
}

/* Banner creation */

.banner{
    max-width: 1600px;
    margin: 0 auto;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    max-width: 550px;
    margin: 101px 525px;
    text-align: center;

}
.image{
    max-width: 350px;
    margin: 0 100px;
}
.text{   
     margin-top: 40px;
}

.center-img {
  position: relative;
  width: 350px;
  height: 350px;
}

.circleimg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}

.micimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
}

.btnim{
  position: absolute;
  top: 50px;
  right: 10px;
  background: #00ff9d;
  color: #000;
  border: none;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  cursor: default;
}

.text h1{
    font-size: 4rem;
    font-weight: bolder;
    color: #FFFFFF;
}

.text p{
    font-size: 1rem;
    color: #ffffffbb;
    font-weight: 200;
    margin-bottom: 24px;
}


.btn-group {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 8px;
}

.button1{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 8px;
    background: linear-gradient(
    to top right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    border: none;
    padding: 12.5px 16px;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight:600;
    color: white;
    cursor: pointer;
    padding: 12.5px 20px;

}
.button2{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 8px;
    background:none; 
    border: 2px solid #00FF88;
    padding: 12px 20px;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight:600;
    color: #00FF88;
    cursor: pointer;
    padding: 12.5px 20px;
}


/* About */
.about{
    max-width: 100rem;
    margin: 0 auto;
    padding: 3rem 13rem 8rem 13rem;
    background-color: #1A0B2E;
    text-align: center;
}
.ahead{
    max-width: 75rem;
    margin-bottom: 5rem;
}
.ahead h1{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.ahead p{
    font-size: 1rem;
    font-weight:200;
    color: #ffffffc9;
    margin-bottom: 1rem;
}

.about-card{
    max-width: 75rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}
.card h1{
    font-size: 3rem;
    color: #00FF88;
    margin-bottom: 1rem;
    font-weight:bolder;
}
.card p{
    font-size: 1rem;
    color:#ffffffc9;
    margin-bottom: 1rem;
}
.about-container hr{
   opacity: 0.1;
}

/* Why choose */

.why{
    max-width: 100rem;
    margin: 0 auto;
    background-color:#1A0B2E;
    padding: 7rem 13rem;
}

.why-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}
.why-container{
    max-width: 75rem;
    margin: 0 auto;
}
.header h1{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
}
.whycard{
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-areas:
             "c1 c2 c2"
             "c1 c3 c3"
             "c4 c4 c5"; 
}
.wcard1{
    grid-area: c1;
}
.wcard2{
    grid-area: c2;
}
.wcard3{
    grid-area: c3;
}
.wcard4{
    grid-area: c4;
}
.wcard5{
    grid-area: c5;
}

.wcard1{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #351165;
    border-radius: 2.5rem;
    max-width: 23.8rem;
}
.wcard1 h4{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.wcard1 p{
    font-size: 1rem;
    font-weight:300;
    color: #ffffff9d;
}

.wcard2{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #351165;
    border-radius: 2.5rem;
    max-width: 49.4rem;
}
.wcard2 h4{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.wcard2 p{
    font-size: 1rem;
    font-weight:300;
    color: #ffffff9d;
}

.wcard3{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #351165;
    border-radius: 2.5rem;
    max-width: 49.4rem;
}
.wcard3 h4{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.wcard3 p{
    font-size: 1rem;
    font-weight:300;
    color: #ffffff9d;
}

.wcard4{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #351165;
    border-radius: 2.5rem;
    max-width: 49.4rem;
}
.wcard4 h4{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.wcard4 p{
    font-size: 1rem;
    font-weight:300;
    color: #ffffff9d;
}

.wcard5{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #351165;
    border-radius: 2.5rem;
    max-width: 30.8rem;
    margin-left: .5rem;
}
.wcard5 h4{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.wcard5 p{
    font-size: 1rem;
    font-weight:300;
    color: #ffffff9d;
}



/* feature */

.feature-and-host{
    max-width: 100rem;
    margin: 0 auto;
    padding: 7.5rem 12.5rem;
    background-color: #1A0B2E;
}
.feature-container{
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.feature-part h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
}

.video1{
    max-width: 380px;
    background-color: #351165;
    border-radius: 10%;
}

.content{
    max-width: 380px;
    padding: 24px;
}
.content h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 0.8rem;
}
.content p{
    font-size: 1rem;
    font-weight: 200;
    color: #ffffff9a;
    margin-bottom: 0.8rem;
}
.iframe{
    max-width: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container{
    display: flex;
    gap: 1.8rem;
    justify-content: center;
}
.buttontime{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap: 6px;
    background:none;
    font-size: 1rem;
    font-weight:600;
    color: #00FF88;
    cursor: pointer;
}


/* host */
.host-part h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
}


.host-container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #350d69;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 20px;
}

.host-info h3{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.host-info p{
    font-size: 1rem;
    font-weight: 200;
    color: #ffffff9e;
    margin-bottom: 1rem;
}








