*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* navbar creation*/

.nav{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;

}
.nav-container{
    max-width: 846px;
    margin: 0 auto;
    padding: 27px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}


.nav-container{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E; 
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
   
}

.nav-container h1{
    max-width: 13.7rem;
    margin: 0 auto;

}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.options{
    display: flex;
    gap: 2rem;
    max-width: 16rem;
}
#tech{
    color: #FFFFFF;
}

#wave{
  background: linear-gradient(
  to top right,
  rgba(247, 233, 63, 1),
  rgba(251, 9, 180, 1),
  rgba(145, 0, 248, 1));
  background-clip: text;
  color: transparent;
}
.options .op-1 a{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}
.options .op-2 a{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}
.options .op-3 a{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: linear-gradient(
    to top right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    border: none;
    padding: 12.5px 16px;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight:600;
    color: white;
    cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(140, 232, 20, 0.514);
  background: linear-gradient(
    to bottom left,
    rgb(25, 148, 230),
    rgb(218, 13, 61),
    rgb(203, 203, 21));
}

/* Banner creation */

.banner{
    max-width: 1600px;
    margin: 0 auto;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    max-width: 550px;
    margin: 101px 525px;
    text-align: center;

}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{   
     margin-top: 40px;
}

.center-img {
  position: relative;
  width: 350px;
  height: 350px;
}

.circleimg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}

.micimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
}

.btnim{
  position: absolute;
  top: 50px;
  right: 10px;
  background: #00ff9d;
  color: #000;
  border: none;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  cursor: default;
}

.text h1{
    font-size: 4rem;
    font-weight: bolder;
    color: #FFFFFF;
}

.text p{
    font-size: 1rem;
    color: #ffffffbb;
    font-weight: 200;
    margin-bottom: 24px;
}


.btn-group {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 8px;
}

.button1{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 8px;
    background: linear-gradient(
    to top right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    border: none;
    padding: 12.5px 16px;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight:600;
    color: white;
    cursor: pointer;
    padding: 12.5px 20px;

}
.button1:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(34, 236, 192, 0.493);
  background: linear-gradient(
    to bottom left,
    rgb(64, 188, 233),
    rgb(27, 228, 47),
    rgb(206, 56, 15));
}

.button2{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 8px;
    background:none; 
    border: 2px solid #00FF88;
    padding: 12px 20px;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight:600;
    color: #00FF88;
    cursor: pointer;
    padding: 12.5px 20px;
}

.button2:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(245, 44, 91, 0.534);
  background: linear-gradient(
    to bottom left,
    rgb(216, 103, 11),
    rgb(215, 28, 175),
    rgb(18, 173, 230));
}

/* About */
.about{
    max-width: 100rem;
    margin: 0 auto;
    padding: 3rem 13rem 8rem 13rem;
    background-color: #1A0B2E;
    text-align: center;
}
.ahead{
    max-width: 75rem;
    margin-bottom: 5rem;
}
.ahead h1{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.ahead p{
    font-size: 1rem;
    font-weight:200;
    color: #ffffffc9;
    margin-bottom: 1rem;
}

.about-card{
    max-width: 75rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
}
.card h1{
    font-size: 3rem;
    color: #00FF88;
    margin-bottom: 1rem;
    font-weight:bolder;
}
.card p{
    font-size: 1rem;
    color:#ffffffc9;
    margin-bottom: 1rem;
}
.about-container hr{
   opacity: 0.1;
}

/* Why choose */

.why{
    max-width: 100rem;
    margin: 0 auto;
    background-color:#1A0B2E;
    padding: 7rem 13rem;
}

.why-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}
.why-container{
    max-width: 75rem;
    margin: 0 auto;
}
.header h1{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
}
.whycard{
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-areas:
             "c1 c2 c2"
             "c1 c3 c3"
             "c4 c4 c5"; 
}
.wcard1{
    grid-area: c1;
}
.wcard2{
    grid-area: c2;
}
.wcard3{
    grid-area: c3;
}
.wcard4{
    grid-area: c4;
}
.wcard5{
    grid-area: c5;
}

.wcard1{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #351165;
    border-radius: 2.5rem;
    max-width: 23.8rem;
}
.wcard1 h4{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.wcard1 p{
    font-size: 1rem;
    font-weight:300;
    color: #ffffff9d;
}

.wcard2{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #351165;
    border-radius: 2.5rem;
    max-width: 49.4rem;
}
.wcard2 h4{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.wcard2 p{
    font-size: 1rem;
    font-weight:300;
    color: #ffffff9d;
}

.wcard3{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #351165;
    border-radius: 2.5rem;
    max-width: 49.4rem;
}
.wcard3 h4{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.wcard3 p{
    font-size: 1rem;
    font-weight:300;
    color: #ffffff9d;
}

.wcard4{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #351165;
    border-radius: 2.5rem;
    max-width: 49.4rem;
}
.wcard4 h4{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.wcard4 p{
    font-size: 1rem;
    font-weight:300;
    color: #ffffff9d;
}

.wcard5{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #351165;
    border-radius: 2.5rem;
    max-width: 30.8rem;
    margin-left: .5rem;
}
.wcard5 h4{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}
.wcard5 p{
    font-size: 1rem;
    font-weight:300;
    color: #ffffff9d;
}



/* feature */

.feature-and-host{
    max-width: 100rem;
    margin: 0 auto;
    padding: 7.5rem 12.5rem;
    background-color: #1A0B2E;
}
.feature-container{
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.feature-part h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
}

.video1{
    max-width: 380px;
    background-color: #351165;
    border-radius: 10%;
}

.content{
    max-width: 380px;
    padding: 24px;
}
.content h4{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 0.8rem;
}
.content p{
    font-size: 1rem;
    font-weight: 200;
    color: #ffffff9a;
    margin-bottom: 0.8rem;
}
.iframe{
    max-width: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container{
    display: flex;
    gap: 1.8rem;
    justify-content: center;
}
.buttontime{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap: 6px;
    background:none;
    font-size: 1rem;
    font-weight:600;
    color: #00FF88;
    cursor: pointer;
}


/* host */
.host-part h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
}


.host-container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #350d69;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 30px;
}

.host-info h3{
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.host-info p{
    font-size: 1rem;
    font-weight: 200;
    color: #ffffff9e;
    margin-bottom: 1rem;
}

/* footer */
.footer{
    max-width: 1600px;
    margin: 0 auto;
    background: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer-container{
    max-width: 1360px;
    margin: 0 auto; 
    padding: 120px;
    text-align: center;
}


#tech2{
    color: #FFFFFF;
    font-size: 50px; 
}

#wave2{
  background: linear-gradient(
  to top right,
  rgba(247, 233, 63, 1),
  rgba(251, 9, 180, 1),
  rgba(145, 0, 248, 1));
  background-clip: text;
  color: transparent;
  font-size: 50px; 
}

.alter{
    max-width: 25.6rem;
    margin: 0 auto;
    margin-bottom: 32px;
}

.icon-footer{
    display: flex;
    gap: 8px;
    justify-content: center;
}

/* .icondiv{
    display: flex;
    
    gap: 40px;
    max-width: 544px;
    margin: 0 auto;
} */
.icondiv{
    max-width: 34rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,0.9fr);
    justify-content: center;
}


.icondiv h4{
    font-size: 1rem;
    font-weight:400;
    color: #ffffff9f;
    margin-bottom: 2rem;
}

.footer-container p{
    font-size: 1rem;
    color: #fafafaa0;
}


/* Media Query */
@media screen and (min-width:576px){
    .menu{
        display: none;
    }
}
@media screen and (max-width:576px){
    .options{
        display: none;
    }
    .btn{
        display:none;
    }

    .nav-container{
            padding:0;
            justify-content:space-around;
    }
    .about{
        padding: 50px 80px;
    }

    .ahead h1{
    font-size: 2rem;
}
    .about-card{
        gap: 1rem;
        grid-template-columns: repeat(2,1fr);
    }
    .card h1{
    font-size: 2rem;
    color: #00FF88;
    margin-bottom: 1rem;
}
.center {
    max-width: 550px;
    margin: 50px 0;
    text-align: center;
}

.why {
    padding: 2rem 3rem;
}

.header h1 {
    font-size: 1.8rem;
    text-align: center;
}

.whycard {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-areas:
        "c1"
        "c2"
        "c3"
        "c4"
        "c5";
}
.wcard1 {

    max-width: 49.4rem;
}
.feature-and-host {
    
    padding: 2rem 1rem;
}
.video-container {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    justify-content: center;
    align-items: center;
}
.video1 {
    max-width: 380px;
    background-color: #351165;
    border-radius: 10%;
}

.feature-container {
    gap: 80px;
}

.host-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.footer-container {
    padding: 0px;
    text-align: center;
}

/* .icondiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 544px;
    margin: 0 auto;
} */

#tech2 {
    font-size: 2rem;
}
#wave2 {
    font-size: 2rem;
}

.icondiv{
    max-width: 34rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,0.3fr);
    justify-content: center;
}

.wcard5 {
    margin-left:0;
}
/* .icondiv{
    display: grid;
    grid-template-columns: repeat(2,.1px);
} */


.center-img {
  position: relative;
  width: 200px;
  height: 200px;
}

.micimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
}

.btnim{
  position: absolute;
  top: 25px;
  right: 10px;
  background: #00ff9d;
  color: #000;
  border: none;
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  cursor: default;
}


.feature-part h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
}

.host-part h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
}

.host-info h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 1rem;
}

.text h1 {
    font-size: 2rem;
    font-weight: bolder;
    color: #FFFFFF;
}

}